<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\Logs\NLog.Raygun.WebTestApp-Internal.txt" internalLogLevel="Debug">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Raygun"/>
  </extensions>

  <targets>
    <target name="RaygunTarget"
            type="Raygun"
            ApiKey=""
            Tags="WebApp"
            IgnoreFormFieldNames=""
            IgnoreCookieNames=""
            IgnoreServerVariableNames=""
            IgnoreHeaderNames=""
            UseExecutingAssemblyVersion="false"
            ApplicationVersion=""
            layout="${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}">
      <contextproperty name="RenderedLogMessage" layout="${message}" />
      <contextproperty name="LogMessageTemplate" layout="${message:raw=true}" />
      <contextproperty name="Logger" layout="${logger}" />
      <contextproperty name="ThreadId" layout="${threadid}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="RaygunTarget" />
  </rules>
</nlog>